*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

.container{
     background-color: #e3f9ff; 
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}
.all{
    background-color: #e3f9ff;
}
.calculator{
    padding: 20px;
    border-radius: 20px;
    background-color: #3a443a;
}

.calculator form input{
    width: 50px;
    height: 50px;
    outline: 0;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    box-shadow: -8px -8px -15px rgb(255, 255,255,0.1),5px 5px 15px rgb(0,0,0,0.2);
}

form .display{
    display: flex;
    justify-content: flex-end;
    
    margin: 20px 0;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    width: 130px;
}

